# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Dependencies
node_modules/

# Compiled files
lib/
dist/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
